.hero--bg--1 {
  background-image: url(../../../../images/hero-1_1920.jpg);

  @media (min-resolution: 2dppx) {
    background-image: url(../../../../images/hero-1_1920@2x.jpg);
  }

  @media screen and (max-width: 1200px) {
    background-image: url(../../../../images/hero-1_1024.jpg);

    @media (min-resolution: 2dppx) {
      background-image: url(../../../../images/hero-1_1024@2x.jpg);
    }
  }

  @media screen and (max-width: 992px) {
    background-image: url(../../../../images/hero-1_768.jpg);

    @media (min-resolution: 2dppx) {
      background-image: url(../../../../images/hero-1_768@2x.jpg);
    }
  }

  @media screen and (max-width: 576px) {
    background-image: url(../../../../images/hero-1_320.jpg);

    @media (min-resolution: 2dppx) {
      background-image: url(../../../../images/hero-1_320@2x.jpg);
    }
  }
}
