.about__advantages-item {
  position: relative;
  padding: 65px 65px 61px 296px;
  border: 1px solid var(--icon-bg-color);
  border-radius: 32px;

  @media screen and (max-width: 1200px) {
    padding: 65px 65px 63px 317px;
  }
}

.about__advantages-item::before {
  position: absolute;
  content: '';
  top: 62px;
  left: 54px;
  width: 190px;
  height: 165px;
  background-repeat: no-repeat;
  background-position: 0 0;

  @media screen and (max-width: 1200px) {
    left: 77px;
  }
}
