.search__form {
  position: absolute;
  right: 19px;
  top: 50%;
  z-index: 10000000;
  box-sizing: border-box;
  min-width: 539px;
  display: flex;
  align-items: center;
  padding: 14px 9px 14px 32px;
  background-color: var(--bg-color);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  border-radius: 24px;
  transform: translateY(-50%);

  @media screen and (max-width: 992px) {
    right: 0;
  }

  @media screen and (max-width: 576px) {
    left: 0;
    bottom: 0;
    top: 0;
    min-width: auto;
    padding: 19px 15px 21px 14px;
    box-shadow: none;
    border-radius: 0px 0px 24px 24px;
    transform: none;
  }
}
