.about__description {
  max-width: 1235px;
  margin: 0;
  margin-bottom: 50px;

  @media screen and (max-width: 1200px) {
    margin-bottom: 59px;
  }

  @media screen and (max-width: 992px) {
    margin-bottom: 54px;
  }
}
