.order__buttons {
  grid-area: buttons;
  align-self: end;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 20px;

  @media screen and (max-width: 576px) {
    column-gap: 10px;
  }
}
