.faq__heading {
  display: block;
  position: relative;
  padding-right: 70px;
  color: var(--text-color);
  text-decoration: none;
  outline: none;
}

.faq__heading:hover,
.faq__heading:focus {
  color: var(--link-hover-color);
}

.faq__heading:hover .faq__toggle,
.faq__heading:focus .faq__toggle {
  background-color: var(--link-hover-color);
}

.faq__heading:hover .faq__toggle::before,
.faq__heading:hover .faq__toggle::after,
.faq__heading:focus .faq__toggle::before,
.faq__heading:focus .faq__toggle::after {
  background-color: var(--bg-color);
}
