.menu__toggle {
  box-sizing: content-box;
  display: none;
  width: 30px;
  height: 23px;
  padding: 3px;
  background-color: transparent;
  border: 2px solid transparent;
  outline: none;

  &:hover {
    border-color: var(--link-hover-color);
  }

  &:focus {
    border-color: var(--link-hover-color);
  }

  &:active .menu__toggle-icon {
    background-color: var(--link-active-color);

    &::after,
    &::before {
      background-color: var(--link-active-color);
    }
  }

  @media screen and (max-width: 1200px) {
    position: relative;
    z-index: 100;
    display: block;
  }
}
