.about__text {
  max-width: 433px;
  margin: 0;
  margin-right: 30px;

  @media screen and (max-width: 992px) {
    margin-right: 45px;
  }

  @media screen and (max-width: 576px) {
    margin: 0;
    margin-bottom: 12px;
    color: var(--text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
  }
}
