.button {
  box-sizing: border-box;
  text-align: center;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  outline: none;

  @media screen and (max-width: 576px) {
    border-radius: 8px;
  }
}
