.footer__column--content--form {
  flex-basis: 570px;

  @media screen and (max-width: 992px) {
    order: 1;
    flex-basis: 0;
    align-self: stretch;
    margin-bottom: 50px;
    max-width: 541px;
  }

  @media screen and (max-width: 576px) {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--input-bg-color);
  }
}
