.menu__link--place--header {
  font-size: 18px;
  line-height: 1.22;
  padding: 5px;
  color: var(--text-color);
}

.menu__link--place--header:hover {
  border-bottom: 2px solid var(--link-hover-color);
}

.menu__link--place--header:focus {
  border: 2px solid var(--link-hover-color);
  outline: none;
}

.menu__link--place--header:active {
  color: var(--link-active-color);
  border-bottom: 2px solid var(--link-active-color);
}
