.button--text--black {
  padding: 19px 37px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  background-color: var(--button-transparent-bg-color);
  transition: background-color 0.3s ease;
  transition: border-color 0.3s ease;
  transition: color 0.3s ease;

  @media screen and (max-width: 576px) {
    padding: 11px 31px;
    font-size: 12px;
  }

  &:hover {
    color: var(--text-light-color);
    border-color: var(--button-grey-hover-bg-color);
    background-color: var(--button-grey-hover-bg-color);
  }

  &:focus {
    color: var(--text-light-color);
    border-color: var(--button-grey-hover-bg-color);
    background-color: var(--button-grey-hover-bg-color);
  }

  &:active {
    color: var(--text-light-color);
    border-color: var(--button-grey-active-bg-color);
    background-color: var(--button-grey-active-bg-color);
  }
}

