.order__number {
  padding: 5px;
  font-size: 18px;
  line-height: 1.22;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;

  @media screen and (max-width: 576px) {
    font-size: 14px;
    line-height: 1.21;
  }

  &:hover {
    color: var(--link-hover-color);
  }

  &:focus {
    padding: 3px;
    color: var(--text-color);
    border: 2px solid var(--button-bg-color);
  }

  &:active {
    padding: 5px;
    color: var(--button-active-bg-color);
    border: none;
  }
}
