.search__open-button {
  box-sizing: border-box;
  padding: 5px;
  margin-right: 0;
  border: none;
  background-color: var(--color-transparent);
  cursor: pointer;
  outline: none;
}

.search__open-button:hover .search__open-icon rect {
  fill: var(--link-hover-color);
}

.search__open-button:hover .search__open-icon path {
  stroke: var(--link-hover-color);
}

.search__open-button:focus {
  border: 2px solid var(--link-hover-color);
}

.search__open-button:focus .search__open-icon rect {
  fill: var(--text-color);
}

.search__open-button:focus .search__open-icon path {
  stroke: var(--text-color);
}

.search__open-button:active .search__open-icon rect {
  fill: var(--link-hover-color);
}

.search__open-button:active .search__open-icon path {
  stroke: var(--link-hover-color);
}
