.menu__toggle-icon {
  position: relative;
  width: 30px;
  height: 3px;
  background-color: var(--text-color);

  &::before,
  &::after {
    position: absolute;
    content: '';
    left: 0;
    width: 30px;
    height: 3px;
    background-color: var(--text-color);
  }

  &::before {
    top: -10px;
  }

  &::after {
    bottom: -10px;
  }
}
