.button--size--xs.about__button {
  padding: 17px 35px;

  @media screen and (max-width: 576px) {
    padding: 10px 42px;
    font-size: 12px;
    line-height: 1.25;
    color: var(--button-bg-color);
  }
}
