.order__text-content {
  grid-area: text;
  margin-bottom: 18px;

  @media screen and (max-width: 1200px) {
    margin-bottom: 25px;
  }

  @media screen and (max-width: 992px) {
    margin-top: 48px;
  }
}
