.form__input {
  box-sizing: border-box;
  width: 100%;
  padding: 14px 24px;
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 2;
  font-weight: normal;
  color: var(--text-light-color);
  background-color: var(--input-bg-color);
  border: none;
  border-radius: 16px;
  outline: none;
}

.form__input::placeholder {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 2;
  font-weight: normal;
  color: var(--text-placeholder-color);
}

.form__input:hover {
  background-color: var(--input-focus-bg-color);
}

.form__input:focus {
  background-color: var(--input-focus-bg-color);
}

.form__input:active {
  background-color: var(--input-focus-bg-color);
}
