.form__input {
  box-sizing: border-box;
  width: 100%;
  padding: 14px 24px;
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 2;
  font-weight: normal;
  color: var(--text-light-color);
  background-color: var(--input-bg-color);
  border: none;
  border-radius: 16px;
  outline: none;
  transition: background-color 0.3s ease;

  @media screen and (max-width: 576px) {
    padding: 14px 20px;
  }

  &::placeholder {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 2;
    font-weight: normal;
    color: var(--text-placeholder-color);

    @media screen and (max-width: 576px) {
      font-size: 14px;
    }
  }

  &:hover {
    background-color: var(--input-focus-bg-color);
  }

  &:focus {
    background-color: var(--input-focus-bg-color);
  }

  &:active {
    background-color: var(--input-focus-bg-color);
  }
}


