.hero {
  position: relative;
  padding: 102px 80px 100px 80px;
  background-color: #8ec5e7;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 32px;

  @media screen and (max-width: 1200px) {
    padding: 163px 77px 160px 77px;
  }

  @media screen and (max-width: 992px) {
    padding: 160px 40px 160px 40px;
    border-radius: 24px;
  }
}
