.hero__slider-dots,
.swiper-pagination,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom, .swiper-pagination-fraction {
  position: absolute;
  bottom: 30px;
  left: 50%;
  display: flex;
  width: auto;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transform: translateX(-50%);

  @media screen and (max-width: 576px) {
    bottom: 15px;
  }
}
