.faq__heading {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 50px;
  padding-right: 150px;
  color: var(--text-color);
  text-decoration: none;
  outline: none;

  @media screen and (max-width: 992px) {
    padding-right: 95px;
  }

  &:hover {
    color: var(--link-hover-color);

    .faq__toggle {
      background-color: var(--link-hover-color);

      &::before,
      &::after {
        background-color: var(--bg-color);
      }
    }
  }

  &:focus {
    color: var(--link-hover-color);

    .faq__toggle {
      background-color: var(--link-hover-color);

      &::before,
      &::after {
        background-color: var(--bg-color);
      }
    }
  }
}
