.content__hero {
  margin-bottom: 50px;

  @media screen and (max-width: 1200px) {
    margin-bottom: 37px;
  }

  @media screen and (max-width: 992px) {
    margin-bottom: 36px;
  }

  @media screen and (max-width: 576px) {
    margin-bottom: 60px;
  }
}
