.about__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(597px, 1fr));
  gap: 33px;

  @media screen and (max-width: 1200px) {
    grid-template-columns: 1fr;
    gap: 31px;
  }
}
