.footer {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 50px 75px;
  color: var(--text-footer-color);
  background-color: var(--bg-footer-color);

  @media screen and (max-width: 1200px) {
    padding: 50px;
  }
}
