.hero__title {
  max-width: 837px;
  margin: 0;
  margin-bottom: 24px;
  font-size: 70px;
  line-height: 1.21;
  font-weight: 800;
  color: var(--text-light-color);

  @media screen and (max-width: 1200px) {
    margin-bottom: 16px;
    font-size: 60px;
    line-height: 1.2;
  }

  @media screen and (max-width: 992px) {
    font-size: 50px;
    line-height: 1.22;
  }
}
