.hero__slider-dot,
.swiper-pagination-bullet,
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  margin: 0;
  border-radius: 50%;
  cursor: pointer;
  opacity: 1;

  @media screen and (max-width: 576px) {
    width: 10px;
    height: 10px;
  }
}

.hero__slider-dot,
.swiper-pagination-bullet {
  background: var(--icon-bg-color);
}
